.section {
  display: flex;
  justify-content: center;
  background-color: var(--col-navy-vdark);
  height: 90vh;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.box1 {
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  width: 60%;
}
.box2 {
  display: flex;
  width: 40%;
  justify-content: center;
  overflow: hidden;
}
.imgProfileBox {
  display: flex;
  position: relative;
  width: 90%;
  transform: translateY(16%);

}
.imgProfile {
  border-radius: 15px 15px 0 0 ;
}