/*Header Section*/
.sectionHeader {
  position: relative;
  justify-content: center;
  background-color: var(--col-navy-vdark);
  height: 45vw;
  width: 100%;
}
.fluidJumbotron{
  justify-content: flex-start;
  overflow-x: hidden;
  flex-wrap: nowrap;
  width: 100%;
}
.container {
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
}
.box1 {
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.308);
}
.box2 {
  width: 40%;
  justify-content: center;
  overflow: hidden;
}
.profileBox {
  width: 65%;
  min-height: 20vw;
  padding: 2vw;
  border: .1vw solid var(--col-white-01);
  border-radius: .5vw;
}
.pHeadline1 {
  color: var(--col-white-01);
  font-size: 3vw;
}
.pHeadline2 {
  color: var(--col-white-01);
  font-size: 1.2vw;
}
.pHeadline3 {
  color: var(--col-white-02);
  font-size: 1vw;
}
.pSubHeadline1 {
  margin: 1vw 0;
  font-size: 1vw;
  font-style: italic;
}
.keyWordSpinnov {
  font-size: 1.2vw;
  color: var(--col-white-01);
  text-decoration: underline;
}
.pBtnBox {
  display: flex;
  justify-content: flex-end;
  column-gap: 1.5vw;
  margin-top: 1.5vw;
}
.pBtnBox button {
  padding: .5vw 1vw;
  background-color: var(--col-white-02);
  border: none;
  border-radius: .3vw;
  font-size: 1.1vw;
}
.pBtnBox button:hover {
  transform: scale(1.05, 1.05);
  transition: var(--trans-03);
}
.imgProfileBox {
  display: flex;
  position: relative;
  width: 85%;
  transform: translateY(16%);
}
.imgProfile {
  border-radius: 1.2vw 1.2vw 0 0 ;
}

/*Projects Section*/
