@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.navContainer {
  position: absolute;
  justify-content: space-between;
  height: 4.5vw;
  width: 100%;
  padding: 0 2vw;
  z-index: 2;
}
.navHeader {
  justify-content: center;
  align-items: center;
  width: 30%;
}
.navHeader h1 {
  font-family: 'Akaya Kanadaka', cursive;
  letter-spacing: .25vw;
  font-weight: 1000;
  color: var(--col-white-01);
  cursor: pointer;
  font-size: 2vw;
}
.navBtnContainer {
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  overflow: hidden;
}
.navBtn {
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 8vw;
  background-color: transparent;
  border: none;
}
.navBtnText {
  font-size: 1.1vw;
  color: var(--col-white-01);
  font-weight: 600;
}
.navBtn:hover {
  transform: scale(1.1,1.1);
  text-decoration: overline ;
  transition: var(--trans-03);
}


/*Nav Project Section*/
.navProject {
  position: relative;
  background-color: var(--col-navy-vdark);
  height: 4.5vw;
}