.section {
  justify-content: center;
  height: 45vw;
}
.container {
  width: 100%;
}
.boxOne {
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.6vw;
  width: 30%;
  background-color: rgb(235, 235, 235);
  padding: 4vw 2vw;
}
.headlineBox, .categoryBox {
  width: 100%;
  padding: .5vw;
  column-gap: .5vw;
}
.imgBox {
  flex-shrink: 0;
  justify-content: center;
  width: 25%;
}
.projIcon {
  position: relative;
  width: 5vw;
  height: 5vw;
}
.descBox {
  width: 75%;
  row-gap: .5vw;
}
.descBox h3 {
  font-size: 1.6vw;
}
.descSummary {
  text-align: justify;
}
.categoryBox {
  align-items:flex-end;
  row-gap: .5vw;
}
.catListBox {
  column-gap: 1vw;
  align-items: center;
  width: 75%;
  padding: .5vw;
  border: .1vw solid var(--col-navy-vdark);
  border-radius: .5vw;
}
.clbOnFocus {
  background-color: var(--col-navy-vdark) !important;
  transition: var(--trans-03);
  transform: translateX(1vw) scale(1.01,1.01);
  box-shadow: .3vw .3vw .2vw var(--col-shadow);
  color: var(--col-white-02) !important;
}
.catListBox:hover, .clbOnFocus:hover {
  box-shadow: .3vw .3vw .2vw var(--col-shadow);
  transform: scale(1.01,1.01);
  transition: var(--trans-03);
}
.clbOnFocus:hover {
  transform: translateX(1vw) scale(1.01,1.01);
}

.catListBox span:nth-child(1),
.catListBox span:nth-child(2) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
}
.catListBox h4, .clbOnFocus h4 {
  font-size: 1.05vw;
  width: 65%;
  text-align: left;
}
.boxTwo {
  justify-content: center;
  width: 70%;
  background-color: var(--col-white-primary);
  padding: 2vw 3vw 2vw 3vw;
}
.projItemContainer {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /* box-shadow: 0 0 10px var(--col-shadow); */
  /* border: 1px solid var(--col-navy-vdark); */
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  padding: 2vw 2vw .5vw 2vw;
  gap: 1vw;
}
.pItemCard, .pItemCardEmpty{
  position: relative;
  width: 18vw;
  height: 16vw;
  box-shadow: 0 0 .5vw var(--col-shadow);
  border-radius: .5vw;
  background-color: var(--col-white-primary);
}
.pItemCard {
  animation: var(--scaleIn) .5s;
}
.pItemCardEmpty {
  visibility: hidden;
}
.itemCardImage, .itemCardDesc {
  position: relative;
  width: 100%;
  height: 12.5vw;
  background-color: white;
  border-radius: .5vw .5vw 0 0;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
.itemCardTitle {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5vw;
  border-radius: 0 0 .5vw .5vw;
  border-top: .01vw solid var(--col-shadow);
}
.itemCardDesc {
  position: absolute;
  height: 25.5vw;
  top: 0;
  z-index: 2;
  background-color: transparent;
  transform: translateY(-13vw);
}
.itemCardDesc:hover {
  transform: translateY(0);
  height: 12.5vw;
  transition: .6s all ease-in-out;
}
.itemCardDesc p {
  height: 12.5vw;
  width: 100%;
  padding: 1vw;
  background-color: rgba(10, 29, 36, .9);
  color: var(--col-white-02);
  border-radius: inherit;
  text-align: justify;
  font-size: .85vw;
}
.seeMoreBtn {
  justify-content: center;
  align-items: center;
  padding: .4vw 4vw;
  border-radius: .5vw;
  border: .1vw solid var(--col-shadow);
  background-color: transparent;
  font-size: .85vw;
}
.seeMoreBtn:hover {
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  transform: scale(1.02,1.05);
  transition: var(--trans-03);
}

/*Project Home*/
.phHeaderContainer {
  width: 100%;
  height: 4.5vw;
  column-gap: 1vw;
  padding: 0 10vw;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .1vw .5vw var(--col-shadow);
}
.phHeaderContainer div:nth-child(1),
.phHeaderContainer div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1vw;
}
.phHeaderContainer div:nth-child(2) {
  align-items: center;
  column-gap: .5vw;
}
.phCategoryBox {
  padding: .3vw 1vw;
  border: .1vw solid var(--col-navy-vdark);
  background-color: transparent;
  border-radius: .3vw;
}
.phCategoryBox:focus {
  background-color: var(--col-navy-vdark);
  color: white;
  transition: var(--trans-03);
}
.searchIcon {
  display: flex;
  justify-content: center;
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
}
.pSearchBox {
  width: 15vw;
  height: 2vw;
  padding: .1vw .5vw;
}
.phContentContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 9vw);
  padding: 4vw 10vw;
}
.phcProjectList {
  position: relative;
  width: 100%;
  height: 100%;
}
.phcProjectPage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(.5,.5);
  padding: 4vw 10vw;
  z-index: 2;
  transition: var(--trans-04);
}
.projectPageOpen {
  opacity: 1;
  transform: scale(1,1);
  transition: var(--trans-04);
}
.ppContainer {
  width: 100%;
  height: 100%;
  padding: 1vw 2vw;
  column-gap: 1vw;
  border-radius: 1vw;
  box-shadow: 0 0 1vw var(--col-shadow);
}
.ppMedia1 {
  justify-content: center;
  align-items: center;
  width: 60%;
}
.ppMedia2 {
  width: 40%;
  padding: .5vw 1vw;
}
.ppmTagsBox {
  column-gap: .5vw;
  height: 2vw;
  align-items: center;
}
.ppmSummary {
  margin: 1vw 0;
  height: 64%;
  text-align: justify;
  line-height: 1.5vw;
}
.ppmActionBox {
  height: 3vw;
}
