.section {
  justify-content: center;
  height: 45vw;
}
.container {
  width: 100%;
}
.boxOne {
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.6vw;
  width: 30%;
  background-color: rgb(235, 235, 235);
  padding: 4vw 2vw;
}
.headlineBox, .categoryBox {
  width: 100%;
  padding: .5vw;
  column-gap: .5vw;
}
.imgBox {
  flex-shrink: 0;
  justify-content: center;
  width: 25%;
}
.projIcon {
  position: relative;
  width: 5vw;
  height: 5vw;
}
.descBox {
  width: 75%;
  row-gap: .5vw;
}
.descBox h3 {
  font-size: 1.6vw;
}
.descSummary {
  text-align: justify;
}
.categoryBox {
  align-items:flex-end;
  row-gap: .5vw;
}
.catListBox {
  column-gap: 1vw;
  align-items: center;
  width: 75%;
  padding: .5vw;
  border: .1vw solid var(--col-navy-vdark);
  border-radius: .5vw;
}
.catListBox:hover {
  background-color: rgba(10, 29, 36, 0.2);
  transition: var(--trans-03);
}
.catListBox:focus {
  background-color: var(--col-navy-vdark);
  transition: var(--trans-03);
  transform: translateX(1vw);
}
.catListBox span:nth-child(1) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
}
.catListBox span:nth-child(3) {
  display: flex;
  width: 2vw;
}
.catListBox h4 {
  font-size: 1.05vw;
  width: 65%;
  text-align: left;
}
.boxTwo {
  justify-content: center;
  width: 70%;
  background-color: var(--col-white-primary);
  padding: 2vw 3vw 2vw 3vw;
}
.projItemContainer {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /* box-shadow: 0 0 10px var(--col-shadow); */
  /* border: 1px solid var(--col-navy-vdark); */
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  padding: 2vw;
  gap: 1vw;
}
.pItemCard {
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 16vw;
  box-shadow: .2vw .2vw 1vw var(--col-shadow);
  border-radius: .5vw;
  background-color: var(--col-white-primary);
}