.section {
  justify-content: center;
  height: 45vw;
}
.container {
  width: 100%;
}
.boxOne {
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.6vw;
  width: 30%;
  background-color: rgb(235, 235, 235);
  padding: 4vw 2vw;
}
.headlineBox, .categoryBox {
  width: 100%;
  padding: .5vw;
  column-gap: .5vw;
}
.imgBox {
  flex-shrink: 0;
  justify-content: center;
  width: 25%;
}
.projIcon {
  position: relative;
  width: 5vw;
  height: 5vw;
}
.descBox {
  width: 75%;
  row-gap: .5vw;
}
.descBox h3 {
  font-size: 1.6vw;
}
.descSummary {
  text-align: justify;
}
.categoryBox {
  align-items:flex-end;
  row-gap: .5vw;
}
.catListBox {
  column-gap: 1vw;
  align-items: center;
  width: 75%;
  padding: .5vw;
  border: .1vw solid var(--col-navy-vdark);
  border-radius: .5vw;
}
.clbOnFocus {
  background-color: var(--col-navy-vdark);
  transition: var(--trans-03);
  transform: translateX(1vw) scale(1.01,1.01);
  box-shadow: .3vw .3vw .2vw var(--col-shadow);
}
.catListBox:hover, .clbOnFocus:hover {
  box-shadow: .3vw .3vw .2vw var(--col-shadow);
  transform: scale(1.01,1.01);
  transition: var(--trans-03);
}
.clbOnFocus:hover {
  transform: translateX(1vw) scale(1.01,1.01);
}

.catListBox span:nth-child(1),
.catListBox span:nth-child(2) {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 2vw;
  height: 2vw;
}
.catListBox h4, .clbOnFocus h4 {
  font-size: 1.05vw;
  width: 65%;
  text-align: left;
}
.clbOnFocus h4 {
  color: var(--col-white-02);
}
.boxTwo {
  justify-content: center;
  width: 70%;
  background-color: var(--col-white-primary);
  padding: 2vw 3vw 2vw 3vw;
}
.projItemContainer {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  /* box-shadow: 0 0 10px var(--col-shadow); */
  /* border: 1px solid var(--col-navy-vdark); */
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  padding: 2vw 2vw .5vw 2vw;
  gap: 1vw;
}
.pItemCard, .pItemCardEmpty{
  position: relative;
  width: 18vw;
  height: 16vw;
  box-shadow: 0 0 .5vw var(--col-shadow);
  border-radius: .5vw;
  background-color: var(--col-white-primary);
}
.pItemCard {
  animation: var(--scaleIn) .5s;
}
.pItemCardEmpty {
  visibility: hidden;
}
.itemCardImage, .itemCardDesc {
  position: relative;
  width: 100%;
  height: 12.5vw;
  background-color: white;
  border-radius: .5vw .5vw 0 0;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
.itemCardTitle {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5vw;
  border-radius: 0 0 .5vw .5vw;
  border-top: .01vw solid var(--col-shadow);
}
.itemCardDesc {
  position: absolute;
  height: 25.5vw;
  top: 0;
  z-index: 2;
  background-color: transparent;
  transform: translateY(-13vw);
}
.itemCardDesc:hover {
  transform: translateY(0);
  height: 12.5vw;
  transition: .6s all ease-in-out;
}
.itemCardDesc p {
  height: 12.5vw;
  width: 100%;
  padding: 1vw;
  background-color: rgba(10, 29, 36, .9);
  color: var(--col-white-02);
  border-radius: inherit;
  text-align: justify;
  font-size: .85vw;
}
.seeMoreBtn {
  justify-content: center;
  align-items: center;
  padding: .4vw 4vw;
  border-radius: .5vw;
  border: .1vw solid var(--col-shadow);
  background-color: transparent;
  font-size: .85vw;
}
.seeMoreBtn:hover {
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  transform: scale(1.02,1.05);
  transition: var(--trans-03);
}

/*Project Home*/
.projectHome {
  height: 100vh;
  width: 100%;
}
.phBody {
  width: 100%;
  height: 90%;
}
.phSidePanel {
  width: 30%;
  background-color: var(--col-white-primary);
  box-shadow: .5vw 0 .5vw var(--col-shadow);
  padding: 4vw 2vw;
}
.phContentPanel {
  justify-content: center;
  align-items: center;
  padding: 3vw 3vw 3vw 5vw;
  width: 70%;
}
.phContentContainer {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.phContent1, .phContent2 {
  align-items: center;
  height: 100%;
  padding: .5vw;
}
.phContent1 {
  width: 60%;
  row-gap: .5vw;
}
.phContent2 {
  width: 40%;
  row-gap: .5vw;
}
.phcMedia, .phcInfo {
  width: 100%;
}
.phcMedia {
  height: 68%;
  row-gap: .5vw;
}
.phcMediaPrimary {
  width: 100%;
  height: 80%;
  border: .1vw solid var(--col-navy-vdark);
}
.phcMediaSecondary {
  width: 100%;
  height: 20%;
  border: .1vw solid var(--col-navy-vdark);
}
.phcInfo {
  height: 32%;
  column-gap: .5vw;
}
.phcInfoDescription {
  width: 75%;
  border: .1vw solid var(--col-navy-vdark);
}
.phcInfoNav {
  width: 25%;
  border: .1vw solid var(--col-navy-vdark);
}
.phContent2 h2 {
  width: 100%;
  border: .1vw solid var(--col-navy-vdark);
  padding: 0 .3vw;
}
.phContent2 h5 {
  width: 100%;
  border: .1vw solid var(--col-navy-vdark);
  padding: 0 .3vw;
}
.phContent2 p{
  width: 100%;
  height: 100%;
  border: .1vw solid var(--col-navy-vdark);
  padding: 0 .3vw;
  overflow-y: auto;
}
.projectHome footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-navy-vdark);
  width: 100%;
  height: 10%;
  color: var(--col-white-02);
}
