.sectionLogin {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loginBox,
.loginBox form {
  padding: 3vw;
  border-radius: 0.5vw;
  box-shadow: 0 0 1vw var(--col-shadow);
  width: 25vw;
  justify-content: center;
  align-items: center;
}
.loginBox form {
  display: inherit;
  flex-direction: inherit;
  padding: 0;
  width: 100%;
  box-shadow: none;
}

.loginBox p#alert {
  background-color: rgb(255, 157, 157);
  padding: 0.2vw 0;
  text-align: center;
  width: 80%;
  border-radius: 0.2vw;
  margin: 0.5vw 0 1vw 0;
}

.loginBox div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
  width: 100%;
}

.loginBox div input {
  padding: 0.2vw 0.5vw;
  border-radius: 0.3vw;
}
.loginBox button {
  padding: 0.3vw 3vw;
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  font-size: 1.1vw;
  font-weight: 800;
  border-radius: 0.3vw;
  border: none;
  width: 50%;
}
.loginBox button:hover {
  opacity: 0.95;
  transform: scale(1.02, 1.02);
  transition: var(--trans-03);
}

/*Dashboard*/
.dummyNavbar {
  width: 100%;
  height: 4.5vw;
  background-color: blue;
}
#adminDashboard {
  width: 100%;
  min-height: 100vh;
}
.dashboardContainer {
  width: 100%;
  height: calc(100vh - 4.5vw);
}
.sidePanelContainer {
  align-items: flex-end;
  box-shadow: 0.4vw 0 1vw var(--col-shadow);
  padding: 2.5vw 0;
  width: 22vw;
  height: calc(100vh - 4.5vw);
  background-color: var(--col-white-primary);
}
.menuBox {
  padding: 1vw 0 1vw 3vw;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
}
.menuBox:hover {
  background-color: var(--col-white-02);
  transition: var(--trans-03);
}

/*Project Panel*/
.projectPanel,
.overviewPanel {
  position: relative;
  width: 100%;
  padding: 3vw;
  height: 100%;
  overflow: auto;
}
.projectPanel > h2 {
  margin-bottom: 2vw;
}
.ppcHeader,
.ppcContent {
  min-height: 3vw;
  width: 100%;
  border-bottom: 0.1vw solid var(--col-white-01);
  padding: 1vw 0 2vw 0;
}
.ppcHeader {
  padding: 0;
  justify-content: space-between;
  align-items: flex-end;
  height: 3vw;
}
.ppcHeader div {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.ppcHeader div:nth-child(1) input {
  width: 30vw;
  padding: 0.1vw 1vw;
  border: none;
  outline: none;
  background-color: var(--col-white-02);
  border-radius: 0.2vw;
}
.ppcHeader div:nth-child(2) button {
  padding: 0.2vw 1vw;
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  border: none;
  border-radius: 0.2vw;
}
.ppcProject {
  width: 100%;
  padding: 0.75vw 1vw;
  border-bottom: 0.1vw solid var(--col-white-01);
  height: 9.5vw;
}
.ppcProject:nth-child(1) {
  border-top: 0.1vw solid var(--col-white-01);
}
.ppcProject span {
  padding: 0 0.5vw;
}
.ppcProject span#pPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1vw;
  width: 45%;
}
.ppcProject span#pPreview div:nth-child(1) {
  width: 35%;
  height: 100%;
  background-color: var(--col-white-01);
  border-radius: 0.2vw;
}
.ppcProject span#pPreview div:nth-child(2) {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  width: 65%;
}
.ppcProject span#pPreview div:nth-child(2) p {
  font-size: 0.85vw;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ppcProject span#pPreview div:nth-child(2) p:nth-child(2) {
  height: calc(1.25 * 0.85vw * 4);
}
.ppcProject span#pPreview div:nth-child(2) div:nth-child(3) {
  display: flex;
  flex-direction: row;
  column-gap: 0.5vw;
}
.ppcProject span#pPreview div:nth-child(2) div:nth-child(3) span {
  padding: 0.1vw 0.3vw;
  border: 0.1vw solid var(--col-navy-vdark);
  border-radius: 0.2vw;
}
.ppcProject span#pProfile,
.ppcProject span#pPublicPrivate {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  width: 17.5%;
}
.ppcProject span#pEngage {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  justify-content: flex-start;
  align-items: center;
  width: 10%;
}
.ppcProject span#pEngage button {
  background-color: white;
  border: 0.1vw solid var(--col-navy-vdark);
  width: 80%;
  border-radius: 0.2vw;
  padding: 0.2vw 0;
  font-size: 0.85vw;
}
.ppcProject span#pAction {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.ppcProject span#pAction button {
  width: 80%;
  background-color: var(--col-navy-vdark);
  color: var(--col-white-primary);
  border: none;
  border-radius: 0.2vw;
  padding: 0.2vw 0;
}
.ppcProject span#pAction button#actionDelete {
  background-color: rgb(192, 0, 0);
}
.detailItem p {
  font-size: 0.85vw;
}
.pvContainer {
  position: fixed;
  padding: 2vw 5vw;
  width: 50vw;
  height: 37vw;
  background-color: white;
  transform: translate(14vw, 0.5vw) scale(0.7, 0.7);
  box-shadow: 0 0 1vw var(--col-shadow);
  border-radius: 1vw;
  row-gap: 1vw;
  transition: var(--trans-04);
  opacity: 0;
  overflow: auto;
}
.pvContainerOpen {
  transform: translate(14vw, 0.5vw) scale(1, 1);
  opacity: 1;
  transition: var(--trans-04);
}
.pvSection input,
.pvSection textarea {
  outline: none;
  padding: 0.2vw 0.5vw;
  resize: none;
  border-radius: 0.2vw;
  border: 0.1vw solid var(--col-navy-vdark);
  font-size: 1vw;
}
.pvCol2 {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 1vw;
}
.pvCol2 > span {
  position: relative;
}
.pvCol2 > span:nth-child(1) {
  width: 50%;
}
.pvUploadImage {
  align-items: center;
}
.pvUploadImage label {
  align-self: flex-start;
}
.pvUploadImage button {
  padding: 0.3vw 1vw;
  background-color: var(--col-navy-vdark);
  border: none;
  border-radius: 0.2vw;
  color: var(--col-white-02);
  width: 100%;
}
.pvUploadImage button:hover {
  opacity: 0.9;
  transition: var(--trans-03);
}
.thumbnailClosed {
  --thumbnail-width: 38.5vw;
  position: relative;
  width: var(--thumbnail-width);
  border-radius: 0.5vw;
  background-color: var(--col-black-01);
  margin-bottom: 0.3vw;
  opacity: 0;
}
.thumbnailUploaded {
  opacity: 1;
  height: calc(var(--thumbnail-width) / 16 * 9);
  transition: var(--trans-04);
}
.uploadErrorText {
  display: hidden;
  color: red;
}
.pvsLinkBtn {
  column-gap: 1vw;
  margin-bottom: 0.3vw;
}
.pvsLinkBtn > span {
  display: flex;
  flex-direction: column;
}
.pvsLinkBtn > span:nth-child(1) {
  width: calc(30% - 0.5vw);
}
.pvsLinkBtn > span:nth-child(2) {
  width: calc(70% - 0.5vw);
}
.addSettings {
  margin-top: 0.5vw;
  column-gap: 1vw;
}
.addSettings > span {
  display: flex;
  flex-direction: column;
  width: 12vw;
}
.pvAction {
  justify-content: flex-end;
  align-items: center;
  column-gap: 1vw;
}
.pvAction button {
  width: 6vw;
  padding: 0.3vw 0;
  border: none;
  border-radius: 0.2vw;
}
.pvAction button:hover {
  opacity: 0.9;
  transition: var(--trans-03);
}
.pvAction button:nth-child(2) {
  color: var(--col-white-02);
  background-color: var(--col-navy-vdark);
}
.pvAction button:nth-child(3) {
  color: var(--col-white-02);
  background-color: rgb(192, 0, 0);
}
.pvCloseBtn {
  position: absolute;
  background-color: transparent;
  border-radius: 0.5vw;
  border: none;
  top: 1vw;
  right: 1vw;
  height: 2vw;
  width: 2vw;
}
.loadingMsg {
  animation: var(--blinking) 0.7s alternate infinite;
}
.errorMsg {
  color: red;
}
