@media only screen and (max-width: 768px) {
  /*Navbar Component*/
  .navContainer {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: hsl(var(--hsl-navy));
    align-items: center;
    padding: 0 2.5rem;
    height: 3.5rem;
    z-index: 1;
  }
  .navBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBox1 > h1 {
    font-size: 1.5rem;
    font-family: var(--font-akaya);
    color: hsl(var(--hsl-white-alt));
  }
  .navBurger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    width: 1.5rem;
    height: 100%;
    background-color: transparent;
    border: none;
  }
  .navBurger > span {
    width: 100%;
    border-top: solid 0.1rem hsl(var(--hsl-white-alt));
    transition: var(--trans-03);
  }
  .navBurger.nburActive > span#nbur1 {
    width: 120%;
    transform: translateY(0.3rem) rotate(45deg);
    transition: var(--trans-03);
  }
  .navBurger.nburActive > span#nbur2 {
    display: none;
    transition: var(--trans-03);
  }
  .navBurger.nburActive > span#nbur3 {
    width: 120%;
    transform: translateY(-0.3rem) rotate(-45deg);
    transition: var(--trans-03);
  }
  .navBox2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    background-color: hsl(var(--hsl-navy));
    z-index: 1;
    top: 3rem;
    right: 0;
    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: var(--trans-03);
  }
  .nb2Active {
    transform: scaleY(1);
    transition: var(--trans-03);
  }
  .navBox2 > button {
    padding: 0.7rem 2.5rem;
    background-color: transparent;
    color: hsl(var(--hsl-white-alt));
    border: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navContainer {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: hsl(var(--hsl-navy));
    align-items: center;
    padding: 0 3rem;
    height: 4rem;
    z-index: 1;
  }
  .navBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBox1 > h1 {
    font-size: 1.5rem;
    font-family: var(--font-akaya);
    color: hsl(var(--hsl-white-alt));
  }
  .navBurger {
    display: none;
  }
  .navBox2 {
    height: 100%;
  }
  .navBox2 > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background-color: transparent;
    border: none;
    color: hsl(var(--hsl-white-alt));
    transition: var(--trans-03);
  }
  .navBox2 > button:hover {
    background-color: hsl(var(--hsl-black-alt), 0.5);
    transition: var(--trans-03);
  }
}

@media only screen and (min-width: 1024px) {
  .navContainer {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: hsl(var(--hsl-navy));
    align-items: center;
    padding: 0 3rem;
    height: 4rem;
    z-index: 1;
  }
  .navBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navBox1 > h1 {
    font-size: 1.5rem;
    font-family: var(--font-akaya);
    color: hsl(var(--hsl-white-alt));
  }
  .navBurger {
    display: none;
  }
  .navBox2 {
    height: 100%;
  }
  .navBox2 > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background-color: transparent;
    border: none;
    color: hsl(var(--hsl-white-alt));
    transition: var(--trans-03);
  }
  .navBox2 > button:hover {
    background-color: hsl(var(--hsl-black-alt), 0.5);
    transition: var(--trans-03);
  }
}
/*ProjectCards Components*/
.pCardContainer,
.pCardContainerEmpty {
  position: relative;
  width: 18vw;
  height: 16.2vw;
  box-shadow: 0 0 0.5vw var(--col-shadow);
  border-radius: 0.5vw;
  background-color: var(--col-white-primary);
  animation: var(--scaleIn) 0.5s;
}
.pCardContainerEmpty {
  visibility: hidden;
}
.pCardImage,
.pCardImage > span,
.pCardDesc {
  position: relative;
  width: 100%;
  height: 12.5vw;
  background-color: white;
  border-radius: 0.5vw 0.5vw 0 0;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
.pCardTitle {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.7vw;
  border-radius: 0 0 0.5vw 0.5vw;
  border-top: 0.01vw solid var(--col-shadow);
  padding: 0 1.2vw;
  text-align: center;
}
.pCardTitle:hover {
  opacity: 0.8;
  transition: var(--trans-03);
}
.pCardDesc {
  position: absolute;
  height: 25.5vw;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transform: translateY(-13vw);
}
.pCardDesc:hover {
  transform: translateY(0);
  background-color: rgba(10, 29, 36, 0.9);
  height: 12.5vw;
  transition: 0.6s all ease-in-out;
}
.pCardDesc > p {
  height: 11.5vw;
  padding: 1vw 1.2vw;
  width: 100%;
  color: var(--col-white-02);
  border-radius: inherit;
  text-align: justify;
  font-size: 0.85vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}
/*Contact Components*/
.mailFormBox {
  row-gap: 0.5vw;
  justify-content: center;
  padding: 2.5vw;
  width: 100%;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.8vw var(--col-shadow);
  position: relative;
}
.formSection {
  justify-content: space-between;
  width: 100%;
}
.col3Box {
  width: calc((100% / 3) - 1vw);
}
.col2Box {
  width: calc((100% / 2) - 1vw);
}
.col2Box#category {
  width: calc((100% / 3) - 1vw);
}
.col2Box#subject {
  width: calc((100% / 3 * 2) - 0.5vw);
}
.col1Box {
  width: 100%;
}
.col1Box label,
.col2Box label,
.col3Box label {
  padding: 0 0 0.3vw 0.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col1Box input,
.col2Box input,
.col3Box input,
.col2Box select,
.col1Box textarea {
  padding: 0.1vw 0.5vw;
  font-size: 1vw;
  border-radius: 0.3vw;
  border: 0.1vw solid var(--col-black-03);
  background-color: var(--col-white-primary);
}
.col1Box textarea {
  padding: 0.5vw;
  resize: none;
  height: 11vw;
}
.sendBtnContainer {
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5vw;
}
.sendBtnContainer span#limitAlert {
  font-size: 1vw;
  color: var(--col-black-03);
}
.sendBtnContainer button {
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  padding: 0.5vw 3vw;
  border-radius: 0.3vw;
  border: none;
}
.sendBtnContainer button:hover {
  opacity: 0.9;
  transition: var(--trans-03);
}

.confirmationBox {
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  visibility: hidden;
  transform: scale(0.8, 0.8);
  padding: 3vw;
  text-align: center;
}
.confirmationBoxOpen {
  transform: scale(1, 1);
  visibility: visible;
  transition: var(--trans-03);
}
.closeConfirmationBtn {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  border: none;
}
.closeConfirmationBtn:hover {
  background-color: var(--col-white-02);
}
.mailSending {
  letter-spacing: 0.1vw;
  width: 0vw;
  overflow: hidden;
  animation: var(--blinking) 0.7s alternate infinite;
}
.mailSendingLoading {
  width: 9vw;
  transition: var(--trans-03);
}
