/*ProjectCards Components*/
.pCardContainer,
.pCardContainerEmpty {
  position: relative;
  width: 18vw;
  height: 16vw;
  box-shadow: 0 0 0.5vw var(--col-shadow);
  border-radius: 0.5vw;
  background-color: var(--col-white-primary);
  animation: var(--scaleIn) 0.5s;
}
.pCardContainerEmpty {
  visibility: hidden;
}
.pCardImage,
.pCardDesc {
  position: relative;
  width: 100%;
  height: 12.5vw;
  background-color: white;
  border-radius: 0.5vw 0.5vw 0 0;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}
.pCardTitle {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3.5vw;
  border-radius: 0 0 0.5vw 0.5vw;
  border-top: 0.01vw solid var(--col-shadow);
}
.pCardDesc {
  position: absolute;
  height: 25.5vw;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transform: translateY(-13vw);
}
.pCardDesc:hover {
  transform: translateY(0);
  height: 12.5vw;
  transition: 0.6s all ease-in-out;
}
.pCardDesc p {
  height: 12.5vw;
  width: 100%;
  padding: 1vw;
  background-color: rgba(10, 29, 36, 0.9);
  color: var(--col-white-02);
  border-radius: inherit;
  text-align: justify;
  font-size: 0.85vw;
}

/*Contact Components*/
.mailFormBox {
  row-gap: 0.5vw;
  justify-content: center;
  padding: 2.5vw;
  width: 100%;
  border-radius: 0.5vw;
  box-shadow: 0 0 0.8vw var(--col-shadow);
  position: relative;
}
.formSection {
  justify-content: space-between;
  width: 100%;
}
.col3Box {
  width: calc((100% / 3) - 1vw);
}
.col2Box {
  width: calc((100% / 2) - 1vw);
}
.col2Box#category {
  width: calc((100% / 3) - 1vw);
}
.col2Box#subject {
  width: calc((100% / 3 * 2) - 0.5vw);
}
.col1Box {
  width: 100%;
}
.col1Box label,
.col2Box label,
.col3Box label {
  padding: 0 0 0.3vw 0.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col1Box input,
.col2Box input,
.col3Box input,
.col2Box select,
.col1Box textarea {
  padding: 0.1vw 0.5vw;
  font-size: 1vw;
  border-radius: 0.3vw;
  border: 0.1vw solid var(--col-black-03);
  background-color: var(--col-white-primary);
}
.col1Box textarea {
  padding: 0.5vw;
  resize: none;
  height: 11vw;
}
.sendBtnContainer {
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5vw;
}
.sendBtnContainer span#limitAlert {
  font-size: 1vw;
  color: var(--col-black-03);
}
.sendBtnContainer button {
  background-color: var(--col-navy-vdark);
  color: var(--col-white-02);
  padding: 0.5vw 3vw;
  border-radius: 0.3vw;
  border: none;
}
.sendBtnContainer button:hover {
  opacity: 0.9;
  transition: var(--trans-03);
}

.confirmationBox {
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5vw;
  visibility: hidden;
  transform: scale(0.8, 0.8);
  padding: 3vw;
  text-align: center;
}
.confirmationBoxOpen {
  transform: scale(1, 1);
  visibility: visible;
  transition: var(--trans-03);
}
.closeConfirmationBtn {
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  border: none;
}
.closeConfirmationBtn:hover {
  background-color: var(--col-white-02);
}
.mailSending {
  letter-spacing: 0.1vw;
  width: 0vw;
  overflow: hidden;
  animation: var(--blinking) 0.7s alternate infinite;
}
.mailSendingLoading {
  width: 9vw;
  transition: var(--trans-03);
}
