.sectionProject {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.headerContainer {
  position: sticky;
  flex-direction: row;
  top: 4rem;
  z-index: 1;
  width: 100%;
  height: 4rem;
  column-gap: 5rem;
  padding: 0 9rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.1rem 0.5rem hsla(var(--hsla-shadow));
  background-color: white;
}
.headerContainer > div:nth-child(1),
.headerContainer > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1rem;
}
.headerContainer > div:nth-child(1) {
  width: 70%;
  overflow-x: scroll;
  padding-bottom: 0.2rem;
}
.headerContainer > div:nth-child(1)::-webkit-scrollbar {
  height: 0.2rem;
}
.headerContainer > div:nth-child(1)::-webkit-scrollbar-track {
  background-color: transparent;
}
.headerContainer > div:nth-child(2) {
  width: 30%;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: flex-end;
}
.hCategoryBox {
  padding: 0.2rem 0.8rem;
  border: 1px solid hsl(var(--hsl-navy));
  background-color: transparent;
  border-radius: 0.3rem;
  white-space: nowrap;
}
.hCategoryBoxFocus {
  background-color: hsl(var(--hsl-navy));
  color: hsl(var(--hsl-white-alt));
  transition: var(--trans-03);
}
.hSearchIcon {
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.hSearchBox {
  width: 100%;
  height: 2rem;
  padding: 0.1rem 0.5rem;
}
.cbContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 13.2rem);
  padding: 2rem 6rem;
}
.cbcInner {
  display: grid;
  grid-template-columns: repeat(4, 16rem);
  grid-template-rows: repeat(auto, 12rem);
  justify-content: space-evenly;
  align-content: center;
  gap: 1.5rem 2.5rem;
}
.cardsProject {
  width: 16rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(var(--hsl-white-primary));
  box-shadow: 0 0 0.5rem hsla(var(--hsla-shadow));
  padding: 0.8rem 1.3rem;
  animation: var(--scaleIn) 0.5s;
}
.cardsProject:hover,
.pActive {
  background-color: hsl(var(--hsl-navy));
  color: hsl(var(--hsl-white-alt));
  transition: var(--trans-03);
}
.cardsProject > #pcTitle {
  width: 100%;
  text-align: left;
  margin-bottom: 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cardsProject > #pcTags {
  width: 100%;
  column-gap: 0.5rem;
  align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid hsl(var(--hsl-white-alt));
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.cardsProject > #pcTags > span {
  background-color: hsl(var(--hsl-white-alt));
  font-size: 0.55rem;
  width: 3.5rem;
  padding: 0.05rem 0.2rem;
  border-radius: 0.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardsProject:hover > #pcTags > span,
.pActive > #pcTags > span {
  background-color: hsl(var(--hsl-white-primary));
  color: hsl(var(--hsl-black-primary));
}
.cardsProject > #pcSummary {
  font-size: 0.7rem;
  width: 100%;
  text-align: justify;
  height: calc(1.1rem * 4);
  overflow: hidden;
  text-overflow: ellipsis;
  color: hsl(var(--hsl-grey));
  font-style: italic;
  line-height: 130%;
}
.cardsProject:hover > #pcSummary,
.pActive > #pcSummary {
  color: hsl(var(--hsl-white-alt));
}
.cbContent2nd {
  position: fixed;
  width: 100%;
  height: calc(100vh - 8.6rem);
  top: 8.5rem;
  opacity: 0;
  transform: scale(0.5, 0.5);
  padding: 2.5rem 9rem;
  z-index: 2;
  transition: var(--trans-04);
  visibility: hidden;
  background-color: white;
  justify-content: center;
}
.cbContent2ndOpen {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
  transition: var(--trans-05);
}
.pContainer {
  width: 95%;
  height: 100%;
  padding: 2.5rem 3.5rem;
  column-gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem hsla(var(--hsla-shadow));
}
.pMedia1 {
  justify-content: center;
  align-items: center;
  width: 60%;
}
.pmImage {
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--hsla-shadow));
}
.pmImage > span {
  border-radius: 0.5rem;
}
.pMedia2 {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  width: 40%;
  padding: 1rem 1.5rem 1rem 1rem;
  row-gap: 0.5rem;
  overflow: auto;
  border: 0.5px solid hsl(var(--hsl-grey));
  border-radius: 0.5rem;
}
.pMedia2::-webkit-scrollbar {
  width: 0.5rem;
}
.pMedia2::-webkit-scrollbar-track {
  background-color: transparent;
}
.pMedia2::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}
.pMedia2 > h2 {
  font-size: 1.6rem;
}
.pmInfo {
  gap: 0.4rem 0.8rem;
  flex-wrap: wrap;
}
.pmInfo > span {
  font-size: 0.65rem;
  font-style: italic;
  color: hsl(var(--hsl-grey));
  white-space: nowrap;
}
.pmTagsBox {
  column-gap: 0.5rem;
  align-items: center;
}
.pmTagsBox > span {
  background-color: hsl(var(--hsl-white-alt));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.15rem 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
}
.pmSummary {
  position: relative;
  margin: 0.8rem 0;
  padding: 0 0.5rem;
  row-gap: 0.7rem;
  min-height: 13.5rem;
}
.pmSummary > p {
  text-align: justify;
  line-height: 1.35rem;
}
.pmActionBox {
  justify-content: flex-end;
  column-gap: 1rem;
}
.pmActionBox > a {
  padding: 0.15rem 1rem;
  text-decoration: none;
  color: hsl(var(--hsl-white-primary));
  background-color: hsl(var(--hsl-navy));
  border-radius: 0.2rem;
  font-size: 0.9rem;
  text-align: center;
  align-items: center;
}
.pmActionBox > a:hover {
  opacity: 0.8;
  transition: var(--trans-03);
}
.crossBtn {
  position: absolute;
  background-color: transparent;
  border-radius: 0.5rem;
  border: none;
  top: 1rem;
  right: 3rem;
  height: 2rem;
  width: 2rem;
}
.crossBtn:hover {
  background-color: hsl(var(--hsl-white-alt));
  transition: var(--trans-03);
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    flex-direction: column-reverse;
    top: 3.5rem;
    height: auto;
    row-gap: 1rem;
    padding: 0.5rem 1rem;
    align-items: flex-start;
  }
  .headerContainer > div:nth-child(1) {
    width: 100%;
    column-gap: 0.5rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
  }
  .headerContainer > div:nth-child(2) {
    width: 100%;
    padding: 0 0.5rem;
  }

  /*Content Box*/
  .cbContainer {
    min-height: calc(100vh - 14.85rem);
    padding: 2rem 3rem;
  }
  .cbcInner {
    grid-template-columns: 20rem;
    gap: 1rem 0;
  }
  .cardsProject {
    width: 20rem;
  }
  .cardsProject > #pcSummary {
    height: calc(1.1rem * 5);
  }

  /*Preview Box*/
  .cbContent2nd {
    top: 9.65rem;
    height: calc(100vh - 9.7rem);
    padding: 2rem 3rem;
  }
  .crossBtn {
    right: 1rem;
    top: 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .headerContainer {
    top: 3.5rem;
    padding: 0 3rem;
  }
  .headerContainer > div:nth-child(1) {
    column-gap: 0.5rem;
    padding: 0 0.2rem 0.2rem 0.2rem;
  }

  /*Content Box*/
  .cbContainer {
    padding: 2rem 3rem;
  }
  .cbcInner {
    grid-template-columns: repeat(3, 16rem);
    gap: 1rem 2rem;
  }

  .cbContent2nd {
    top: 8.5rem;
    height: calc(100vh - 8.5rem);
    padding: 2rem 3rem;
  }
  .crossBtn {
    right: 1rem;
    top: 0.5rem;
  }
}
