@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

:root {
  /*Color Scheme HSL*/
  --hsl-white-primary: 0, 0%, 100%;
  --hsl-white-alt: 0, 0%, 94%;
  --hsl-black-primary: 0, 0%, 0%;
  --hsl-black-alt: 0, 0%, 21%;
  --hsl-grey: 0, 0%, 43%;
  --hsla-shadow: 0, 0%, 43%, 0.6;
  --hsl-navy: 196, 56.5%, 9%;
  --hsl-darkblue: 231, 90.7%, 21.2%;
  --hsl-lgpurple: 239, 95.3%, 57.8%;
  --hsl-lgblue: 222, 87.3%, 66.1%;
  --hsl-sky: 197, 100%, 93.7%;
  /*Fonts*/
  --font-poppins: "Poppins", sans-serif;
  --font-akaya: "Akaya Kanadaka", cursive;
  --poppins-regular: 400;
  --poppins-medium: 500;
  --poppins-semibold: 600;
  --poppins-bold: 700;

  /*Transition Time*/
  --trans-01: all 0.1s ease;
  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;

  /*WebKit*/
  --scroll-track-width: 0.7rem;

  /*Animation*/
  --fadeIn: fade-in;
  --scaleIn: scale-in;
  --scaleOut: scale-out;
  --blinking: blinking;
}

/*Pure Tags*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
  box-sizing: border-box;
  font-size: 14px;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
section {
  width: 100%;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: var(--scroll-track-width);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hsl-navy));
}
::-webkit-scrollbar-track {
  background-color: azure;
}

/*Heading Tags*/
h1 {
  font-weight: var(--poppins-bold);
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 125%;
}
h2 {
  font-weight: var(--poppins-bold);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 125%;
}
h3 {
  font-weight: var(--poppins-semibold);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 125%;
}
h4 {
  font-weight: var(--poppins-semibold);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 125%;
}

/*Content Font*/
.pageTitle {
  font-weight: var(--poppins-bold);
  font-size: 2rem;
  line-height: 125%;
}
.headline {
  font-weight: var(--poppins-semibold);
  font-size: 1.8rem;
  line-height: 125%;
}
.bodyTitle,
.btnBig {
  font-weight: var(--poppins-semibold);
  font-size: 1.4rem;
  line-height: 125%;
}
.bodyText,
.btnMedium {
  font-weight: var(--poppins-medium);
  font-size: 1rem;
  line-height: 125%;
}
.smallText,
.btnSmall {
  font-weight: var(--poppins-regular);
  font-size: 0.8rem;
  line-height: 125%;
}

/*Custom Class*/
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.display-none {
  display: none;
}
.display-hide {
  visibility: hidden;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes scale-in {
  0% {
    transform: scale(0.8, 0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 100;
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1, 1);
    opacity: 100;
  }
  100% {
    transform: scale(0.8, 0.8);
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
